<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pin_Cracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Pin_Cracker.Properties.Settings>
            <setting name="knownID" serializeAs="String">
                <value>knownID</value>
            </setting>
            <setting name="knownPass" serializeAs="String">
                <value>knownPass</value>
            </setting>
            <setting name="knownPin" serializeAs="String">
                <value>0000</value>
            </setting>
            <setting name="crackingID" serializeAs="String">
                <value>crackingID</value>
            </setting>
            <setting name="crackingPass" serializeAs="String">
                <value>crackingPass</value>
            </setting>
            <setting name="crackingStartPin" serializeAs="String">
                <value>0000</value>
            </setting>
            <setting name="crackingEndPin" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="CensoredPass" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CensoredPins" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseOrNot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveRAM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstTimeRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrackValue" serializeAs="String">
                <value>0</value>
            </setting>
        </Pin_Cracker.Properties.Settings>
    </userSettings>
</configuration>